
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    /* 
    #040D10 rich black 4, 13, 16
    #092A34 gunmetal 9, 42, 52
    #2B80A1 cerulean 43, 128, 161
    #F5F5F5 white smoke 245, 245, 245
    https://coolors.co/f5f5f5-2b80a1-092a34-091a20
    */ 
}
h2{
  font-family: "Libre Caslon Display", serif;
  letter-spacing: 8px;
  font-size: 50px;
  color: #2B80A1;
}
p{
  font-family:"Josefin Sans", sans-serif;
  font-weight: 100;
  font-size: 25px;
  letter-spacing: 3px;
  color: #F5F5F5;
}

.home{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(9, 42, 52,0.5), rgba(4, 13, 16, 1)), url(images/phbg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  position: fixed;
  width: 100%;
  padding: 6px 0%;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  transition: 0.5s;
}
.nav-links{
  flex: 1;
  text-align: center;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 5px 60px;
  position: relative;
  transition: 0.25s;
}
.nav-links ul li a{
  color: #F5F5F5;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 20px;
  transition: 0.25s;
}
nav.sticky{
  background: #091A20;
  padding: 6px 10px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #2B80A1;
  display: block;
  margin: auto;
  transition: 0.25s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
  width: 90%;
  color: #F5F5F5;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1{
  font-size: 150px;
  letter-spacing: 10px;
  font-weight: normal;
  transition: 0.25s;
}
.text-box p{
  margin: 50px 0 40px;
  font-size: 25px;
}
.cont{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.wrapper{
  display: inline-flex;
}
.wrapper .icon{
  margin: 0 15px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.wrapper .icon span{
  display: block;
  height: 35px;
  width: 35px;
  background: #F5F5F5;
  border-radius: 50%;
  position: relative;
  
}
.wrapper .icon span i{
  line-height: 35px;
  font-size: 20px;
  color: #091A20;
  transition: 0.25s
}
.wrapper .icon:hover span i{
  line-height: 35px;
  font-size: 24px;
  color: #2B80A1;
  transition: 0.25s
}
.wrapper .icon .tooltip{
  position:absolute;
  top: 0;
  z-index: 1;
  background: #F5F5F5;
  color: #091A20;
  padding: 10px 20px;
  font-size: 15px;
  font-family: "Libre Caslon Display", serif;
  font-weight: 600;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-align:left;
}
.wrapper .icon:hover .tooltip{
  top: -50px;
  opacity: 1;
  pointer-events: auto;
}
.icon .tooltip:before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #F5F5F5;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
}

.about{
  min-height: 100vh;
  width: 100%;
  background-color: #040D10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about h2{
  width: 90%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: auto;
}
.content{
  width: 1180px;
  max-width: 95%;
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.about .content img{
  height: auto;
  width: 350px;
  max-width: 100%;
  opacity: 80%;
  border-radius: 5%;
  position: relative;
  transition: 0.25s;
}
.text{
  width: 550px;
  max-width: 43%;
  margin: 100px;
}
.text p{
  line-height: 35px;
  margin-bottom: 1px;
  font-weight: 400;
  letter-spacing: 1px;
}

.experience{
  min-height: 100vh;
  width: 100%;
  background-color: #040D10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 100%;
  padding: 150px 10%;
  top: 10%;

}
.container{
  padding-right: calc(10% - 30px);
}
.experience h2{
  width: 90%;
  position: absolute;
  top: 210%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: auto;
}
main.row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
.col header.title{
  font-family: "Libre Caslon Display", serif;
  font-size: 20px;
  letter-spacing: 5px;
  color:#F5F5F5;
  padding: 20px 0px 20px 0px; /*change padding right container*/
}
.col .contents{
  padding: 5px 30px;
  border-left: 2px solid #F5F5F5;
}
.col .contents .box{
  position: relative;
  padding:15px;
  border: 2px solid #F5F5F5;
  background-color: #091A20;
  transition: all 0.25s;
  margin-bottom: 40px;
}
.col .contents .box:hover{
  box-shadow: 0px 3px 12px 0px #F5F5F5;
  border: 2px solid transparent;
}
.col .contents .box::before{
content: '';
position: absolute;
width: 15px;
height: 15px;
border-radius: 50%;
right: calc(100% + 23px);
top: 0;
background-color: #2B80A1;
border: 2px solid #F5F5F5;
}
.box h5{
  font-family: "Libre Caslon Display", serif;
  letter-spacing: 1px;
  position: relative;
  color: #F5F5F5;
}
.box h4{
  font-family: "Libre Caslon Display", serif;
  letter-spacing: 1px;
  font-size: 20px;
  position: relative;
  color: #2B80A1;
}
.box p{
  font-family:"Josefin Sans", sans-serif;
  letter-spacing: 0px;
  font-size: 20px;
  position: relative;
  color: #F5F5F5;
}
ul{
  font-family:"Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #F5F5F5;
  padding-left: 17px;
  padding-top: 10px;
  line-height: 20px;
}


.projects{
  min-height: 200vh;
  width: 100%;
  background-color: #040D10;
  display: flex;
  position: relative;
}
.projects h2{
  width: 90%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: auto;
}
.pcontainer {
  width: 100%;
  padding: 150px 10%;
  position: absolute;
  top: 0%;

}

.test_box {
	padding: 0px;
}
.test_box .inner {
	background: #040D10;
	display: block;
	margin: 15px;
	overflow: hidden;
}
.test_box .inner .test_click {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(0,0,0,.1);
	color: #f5f5f5;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	height: 290px;
	mix-blend-mode: normal;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}
.test_box .inner .test_click:hover {
	background-color: #092A34; 
	mix-blend-mode: hard-light;
}
.flex_this {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	display: inherit;
	flex-wrap: inherit;
	height: auto;
	margin: 0;
	padding: 100px;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
	width: 100%;

}
.test_box .inner .test_click:hover .flex_this {
	margin-top: -5px;
}

.test_title {
	display: block;
	font-weight: 700;
	margin: 0 0 20px;
	width: 100%;
}

.box-01 .inner {
	background-image: url('https://picsum.photos/1024/768?image=1033');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-02 .inner {
	background-image: url('https://picsum.photos/1024/768?image=967');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-03 .inner {
	background-image: url('https://picsum.photos/1024/768?image=924');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-04 .inner {
	background-image: url('https://picsum.photos/1024/768?image=1073');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-05 .inner {
	background-image: url('https://picsum.photos/1024/768?image=1032');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}
.box-06 .inner {
	background-image: url('https://picsum.photos/1024/768?image=1080');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}




@media(max-width: 1180px){

  .about{
    width: 100%;
    height: auto;
  }
  .about .content img{
    height: auto;
    width: 150px;
    max-width: 100%;
    opacity: 80%;
    border-radius: 5%;
    position: relative;
    transition: 0.25s;
  }
  .text{
    width: 550px;
    max-width: 100%;
    margin: 50px;
    transition: 0.25s;
  }
  .text p{
    line-height: 35px;
    margin-bottom: 1px;
    font-size: 20px;
  }


}

@media(max-width: 990px){
  .nav-links ul li{
    padding: 10px 15px;
    transition: 0.25s;
  }
  .nav-links ul li a{
    letter-spacing: 3px;
    font-size: 15px;
    transition: 0.25s;
  }
}

@media(max-width: 700px){

  .text-box h1{
    font-size: 60px;
    letter-spacing: 5px;
    font-weight: normal;
    transition: 0.25s;
  }
  h2{
    letter-spacing: 15px;
    font-size: 30px;
    transition: 0.25s;
  }
  .nav-links ul li{
    padding: 5px 5px;
    transition: 0.25s;
  }
  .nav-links ul li a{
    letter-spacing: 1px;
    font-size: 11px;
    transition: 0.25s;
  }

  .about .content img{
    height: auto;
    width: 100px;
    max-width: 100%;
    opacity: 80%;
    border-radius: 5%;
    position: relative;
    transition: 0.25s;
  }
  .text{
    width: 550px;
    max-width: 100%;
    margin: 10px;
    margin-top: 50px;
    transition: 0.25s;
  }
  .text p{
    line-height: 35px;
    margin-bottom: 1px;
    font-size: 15px;
  }

  main.row{
    grid-template-columns: 1fr;
  }
  .row .col:nth-child(2){
    margin-top: 30px
  }

}









































